:root { 
--gray_600:#848383; 
--black_900_b2:#000000b2; 
--bluegray_100_33:#d9d9d933; 
--gray_900_cc:#1b1b1bcc; 
--gray_900:#1b1b1b; 
--lime_700_33:#a8c43333; 
--black_900_3f:#0000003f; 
--white_A700:#ffffff; 
}