
 @font-face { font-style : normal; src: url("assets/fonts/arapeyregular400.ttf"); font-family : "Arapey"; font-weight : 400;  }
 @font-face { font-style : normal; src: url("assets/fonts/montserratmontserratromanregular400.ttf"); font-family : "Montserrat"; font-weight : 400;  }
 @font-face { font-style : italic; src: url("assets/fonts/arapeyitalic400.ttf"); font-family : "Arapey"; font-weight : 400;  }