@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;800&family=Exo+2:wght@800&family=Oleo+Script&family=PT+Serif:wght@700&family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;800&family=Exo+2:wght@800&family=Judson:ital@1&family=Oleo+Script&family=Space+Mono&display=swap');
/*Heading Style --*/
body{
  color:#6c3f6e;
}
.heading-recepe>body{
    font-family:'Cinzel', serif ;
}
.color-grad{
  background: linear-gradient(to right, #f32170,
                    #ff6b08, #cf23cf, #eedd44);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
}
.second-heading{
    font-family: 'Judson', serif;
    color:#ae7e7d;
    margin-top:2em;
    margin-bottom:2em;
}

.line {
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    background-color: #dfd5f9;
    border: 0 none;
    margin-top: 0px;
    font-weight:bold;
    color: transparent;
    margin-bottom: 20px;
}
    
/*Grid Style for html strucutre*/
.row {
    display: flex;
    grid-gap: 0;
    
  }
.row>div {
    text-align: center;
    border: 0.5px solid rgb(211, 211, 208);
  }

div.col-recepe{
  text-align: left;
  padding: 10px;
  padding-left:auto;
  
}
div.row-recepe{
  display:flex;
  background-color: #f3f0fb;
}

/*image and table box*/
.flex-container {
  width: 50%;
  float: right;
  margin-right:20px;
}
/*fontstyle*/
#centered{
  padding-left:20px
}
p {
 display: block;
 word-wrap: break-word;
}

/*---- Image Style -----------*/
#image-recepe
{
  max-width:100%;
  max-height:auto;
  padding-right: none
}

/*Iframe Style --------*/
iframe {
  border-style: none;
   /* position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    border: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 999999;
    height: 100%;*/
}

/*----Table Style-----------------------*/

#cells {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
}
#cells td, #cells th {
  border: 1px solid rgba(255, 238, 223, 0.436);
  padding: 8px;
}

#cells th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color:#a281ff36;
  width: 12em;
}





