:root {
  --speed: 500ms;
  --border: 1px solid rgb(73, 81, 78);
  --color: #544c4c;
  --background-color: rgba(82, 75, 63, 0.839);
}

.background {
  background-image: url(../image/headerfooter/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

main {
  margin-top: 2rem;
  color: white;
}

@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@700&family=Lora:ital@1&family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet');

.headernav {
  font-family: "Roboto Condensed", sans-serif;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headernav a {
  color: white;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  /* transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 75); */
}

/*NAVBAR ONLY */
.menu {
  height: 100px;
  width: 100%;
  padding: 10px;
  padding-right: 20%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  border-radius: 1rem;
  background-color: var(--background-color);
  color: aliceblue;
  /* border-bottom-right-radius: 75%; */
  /*OPTION 1 RED*/
  /* background: linear-gradient(to right, #b92125, #a52d31, #d17134); */
  /* OPTION 2 FADE */
  background: linear-gradient(to right, #373530, #36221d, #443430);
}

.menu li {
  height: 50%; /* << Height of the border by hovereffect*/
  font-size: 1rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.menu input {
  height: 30px;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.959);
  border: 2px solid #64605d;
  border-radius: 2rem;
  outline: none;
  padding-left: 2rem;
}

.menu img {
  height: 22px;
  width: 22px;
  margin-top: 2px;
}

/* HOVER EFFECTS */
.menu li::before,
.menu li::after {
  content: "";
  pointer-events: none;
  position: absolute;
}

.menu li::before,
.menu li::after {
  border: 0px solid transparent;
  width: 0%;
  height: 0%;
  bottom: 0%;
  right: 0%;
}

/* ANIMATE BOTTOM LEFT BORDERS ='before' */
.menu li::before {
  border-bottom-width: 2px;
  border-left-width: 2px;
}

/* ANIMATE TOP AND RIGHT BORDERS 'after' */
.menu li::after {
  border-top-width: 2px;
  border-right-width: 2px;
}

/* ON HOVER THE BORDER COLORS WILL CHANGE FROM TRANSPARENT TO WHITE*/
/* WIDTH AND HEIGHT OF SUDO ELEMENTS ARE INCREASED FROM 0 TO 100% */
.menu li:hover::before,
.menu li:hover::after {
  border-color: #fff;
  transition: border-color 0s, width 0.3s, height 0.3s;
  width: 100%;
  height: 100%;
}

/* DELAY ADDED TO THE HEIGHT ANIMATION OF BEFORE*/
.menu li:hover::before {
  transition-delay: 0s, 0s, 0.3s;
}

/* ADDED DELAY TO WIDTH OF AFTER */
.menu li:hover::after {
  transition-delay: 0s, 0.3s, 0s;
}

h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2rem;
  color: #e1e8e2;
  text-decoration: none;
  justify-content: center;
  padding-left: 2rem;
}

/*---- Image Style -----------*/
.image {
  max-width: 25%;
  max-height: 25%;
  padding-right: none;
}

/*Grid Style-------------------*/

.box {
  display: flex;
  background-color: var(--background-color);
  justify-content: center;
  margin-left: 5%;
  border-radius: 5rem 5rem 0 0;
  height: 80vh;
  padding: 5%;
}

.left {
  margin-left: 5%;
}
.right {
  margin-right: 5%;
}

/*-------dropdown menu---------*/

.container-dropdown {
  justify-content: center;
  border: var(--border);
  text-decoration: none;

  color: var(--color);
  padding-right: 1rem;
  border: var(--border);
  border-radius: 5px;
  width: 100%;
}
.li {
  list-style: none;
  padding-top: 0.8rem;
  align-items: center;
  width: 20rem;
  height: 4rem;
  text-align: center;
  border: var(--border);
  background-color: #e1e8e2;
}

/* select {
  border-radius: 4px;
  align-items: center;
  height: 2.5rem;
  width: 20rem;
} */
