@font-face {
  font-family: "hotpizza";
  src: url("./resources/font/hotpizza.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
}

.App {
  background-image: url("./resources/image/cozykitchen.jpg");
  background-position: left;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

.categories .row .col img,
.category .row .col img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid white;
}

.category-card {
  width: 250px;
  height: 250px;
  display: inline-block;
  margin: 40px;
  transition: all 0.2s ease-in-out;
  padding-top: 70px;
}

.category-card:hover {
  display: inline-block;
  margin: 40px;
  transform: scale(1.1);
}

.category-card h2 {
  text-align: center;
  margin-top: 10px;
  color: white;
  font-size: 1.3rem;
  font-weight: 300;
  height: 50px;
  overflow: hidden;
}

.navbar-nav-text {
  font-family: "hotpizza", sans-serif;
  font-size: 1.2rem;
  color: white !important;
  padding-top: 15px;
}
